<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Iron Man</string>
		<string>Tony Stark</string>
		<string>Heroe</string>
		<string>Marvel</string>
		<string>Nueva York</string>
	</array>
	<array>
		<string>Capitan America</string>
		<string>Steve Rogers</string>
		<string>Heroe</string>
		<string>Marvel</string>
		<string>Nueva York</string>
	</array>
</array>
</plist>
